[submodule "WatsonWebsocketPlus"]
	path = WatsonWebsocketPlus
	url = https://github.com/Zekiah-A/WatsonWebsocketPlus
[submodule "Motion"]
	path = Motion
	url = https://github.com/Zekiah-A/Motion
	branch = openmc
[submodule "DataProto"]
	path = DataProto
	url = https://github.com/Zekiah-A/DataProto.git
